@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row mb-auto">
    <div>     
        
        <p>
            <h1>Sample application to demonstrate how to use Entity Framework Core in an ASP.NET Core Razor Pages web app.</h1>
        </p>
    </div>
</div>
